
WebApplication/obj/
WebApplication/bin/
WebApplication/.vs/
WebApplication/obj/Debug/
WebApplication/obj/Debug/netcoreapp3.1/WebApplication.assets.cache
WebApplication/obj/Debug/netcoreapp3.1/WebApplication.csproj.FileListAbsolute.txt
WebApplication/obj/Debug/netcoreapp3.1/WebApplication.csprojAssemblyReference.cache
